<h5>ショッピングカート</h5>

  <div>
    <table>
      <thead>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </thead>
      <tbody>
        <!--<td>画像＆商品名</td>-->
        <!--<td>単価（税込み）</td>-->
        <!--<td>個数選択＆変更ボタン</td>-->
        <!--<td>小計金額</td>-->
        <!--<td>削除</td>-->
      </tbody>
    </table>
  </div>
  
  <div>
    <%#= link_to 買い物を続ける %>
    <table>
      <th>合計金額</th>
      <!--<th>合計金額を表示</th>-->
    </table>
  </div>
